*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter', sans-serif;
    background:#ffffff;
    color:#222;
    font-size: 1.6rem;
}
html{
    font-size: 62.5%;
}
@media (max-width: 786px) {

}
/*HEADER*/
.header{
    display: grid;
    grid-template-columns: 30rem 1fr;
    background-color: #FFFFFF;
}
.header-box2{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
    border-left: 3px solid #A1A1AA;
}
.header-box2 h2{
    color: #A1A1AA;
}
.search-box {
    position: relative;
    width: 40rem;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #A1A1AA;
}

.search-box input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* space for icon */
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.search-box input:focus {
    border-color: #4CAF50;
}
.header-box1{
    display: flex;
    align-items: center;
}
.header img{
    height: 7rem;
    margin-left: 3rem;
}
/*mAIN CONTAINER*/
.main-container{
    display: grid;
    grid-template-columns: 30rem 1fr;
    /* max-width: 1200px; */
    background-color: #F7F4EF;
}
.inner-container{
    background-color: #FFFFFF;
}
.container{
    background-color: #F7F4EF;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    gap:2rem;
    padding: 4rem;
    align-items: center;
}
.enroll-btn{
    display: flex;
    justify-items: flex-end;
}
.all-reg-box{
    display: flex;
    align-items:center; 
    font-weight: 500;
}
.all-reg{
    padding: 1rem;
}
/*lEFT CONTAINER*/
.left{
    background-color: #4E2A8A;
    min-height: calc(100vh - 7rem);
}
.left{
    background-color: #4E2A8A;
    min-height: calc(100vh - 7rem);
}
.left-container{

}
.main-sub{
    border-bottom: 3px solid #8A62D866;
    padding: 2rem;
    display: flex;
    color: #A1A1AA;
}
.overview,
.registry,
.tracker,
.alert,
.action-enroll,
.summary{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-left: 4rem;
    color: #F2F2F7;
    padding: 1rem;
    cursor: pointer;
}
.overview:hover,
.registry:hover,
.tracker:hover,
.summary:hover,
.alert:hover,
.action-enroll:hover{
    background-color: #EFEAFB29;
}
.summary, .tracker{
    margin-bottom: 3rem;
}
.main-sub{
    /* margin-bottom: 2rem; */
}


/*RIGHT CONTAINER*/
.right{
    margin-left: 5rem;
    margin-right: 5rem;
}
.box-top{
    display: flex;
    font-size: 1.2rem;
    align-content: center;
}
.box-top span{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: #666;

}
.enroll-btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: #4F46E5;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}
.card-details,
.profile-details{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1.5fr 2fr 1.5fr 2fr;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
}
.card-details{
    background-color: #F7F4EF;
    color: #71717A;

}
.profile-details{
    border-bottom: 2px solid #79747E99;
}
.card-name{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
.card-number{
    font-weight: 600;
    color: #49454F;
}
.card-week{
    background-color: #8A62D8;
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    background: #E9D5FF;
    color: #6D28D9;
    border-radius: 999px;
}
.card-lang{
    font-weight: 500;
}
.anc-metrics{
    width: 160px;
    height: 10px;
    background: #D7D7F8;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.metrics{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%; /* progress percentage */
    height: 100%;
    background: #FF0000;
    border-radius: 20px;
}
.btn-visit{
    display: flex;
    gap: 2rem;
    align-content: center;
    justify-content: center;
}
.card-nextvisit{
    padding: 1rem;
    background-color:#FEE2E2;
    border-radius: 60px;
    color: #FF0000;
}
.card-view-btn{
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #A1A1AA;
}