*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter', sans-serif;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f4f8;
    padding:20px;
}

.container{
    width:100%;
    max-width:1200px;
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    radial-gradient(circle at top left,
    rgba(110,66,193,.3),
    transparent 30%),
    radial-gradient(circle at bottom right,
    rgba(110,66,193,.3),
    transparent 25%);
}

.card{
    width:430px;
    background:#fff;
    padding:40px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.progress-container{
    width:100%;
    height:10px;
    background:#e6e6e6;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:12px;
}

.progress-bar{
    width:25%;
    height:100%;
    background:#6B3DB7;
    border-radius:20px;
}
.progress-bar2{
    width:50%;
    height:100%;
    background:#6B3DB7;
    border-radius:20px;
}

.progress-bar3{
    width:75%;
    height:100%;
    background:#6B3DB7;
    border-radius:20px;
}
.progress-bar4{
    width:100%;
    height:100%;
    background:#6B3DB7;
    border-radius:20px;
}

.step{
    text-align:center;
    color:#666;
    font-size:14px;
    margin-bottom:25px;
}

h1{
    text-align:center;
    font-size:1.8rem;
    color:#222;
    margin-bottom:8px;
}

.subtitle{
    text-align:center;
    color:#888;
    font-size:0.8rem;
    margin-bottom:30px;
}

form{
    display:flex;
    flex-direction:column;
    gap:16px;
}
input[type="date"]{
    font-family:'Inter', sans-serif;
    color:#555;
}

input,
select{
    width:100%;
    height:50px;
    border:1.5px solid #bca6e7;
    border-radius:10px;
    padding:0 15px;
    outline:none;
    font-size:14px;
}

input:focus,
select:focus{
    border-color:#6B3DB7;
}

.phone-group,.menstrualperiod{
    display:flex;
    align-items:center;
    border:1.5px solid #bca6e7;
    border-radius:10px;
    overflow:hidden;
}

.phone-group span{
    padding:0 15px;
    color:#666;
    border-right:1px solid #ddd;
}

.phone-group input{
    border:none;
    flex:1;
}

.input-icon{
    position:relative;
}

.input-icon span{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
}

button{
    margin-top:0.3rem;
    height:50px;
    border:none;
    border-radius:10px;
    background:#5d2ea8;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.skip-btn{
    margin-top:0.3rem;
    height:50px;
    border:1px solid #4E2A8A;
    border-radius:10px;
    background:#F8F7F7;
    color:#4E2A8A;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
.skip-btn:hover{
    background-color: #4E2A8A;
    color: #fff;
}

button:hover{
    background:#F8F7F7;
    color:#4E2A8A;
    border: 1px solid #4E2A8A ;
}
.info-use p{
    font-family: 'Roboto';
    padding-top: 0rem;
    color: #8D81A1;
    font-size: 0.8rem;
}
.info-use{
    display: flex;
    gap: 1rem;
}
.info-use img{
    height: 2rem;
}

form label{
    margin-bottom:-1rem;
    font-weight:400;
    color: #574D69;
}
input::placeholder{
    color:#999;
}

input,
select,
button{
    transition:all .3s ease;
}

@media(max-width:768px){

    .card{
        width:100%;
        padding:25px;
    }

    h1{
        font-size:28px;
    }
}

@media (max-width: 480px){

    body{
        padding:10px;
    }

    .card{
        width:100%;
        padding:20px;
        border-radius:12px;
    }

    h1{
        font-size:24px;
    }

    .subtitle{
        font-size:0.75rem;
    }
}

/*REGISTRATION 4TH RATE*/
.verification{
    width:100%;
    max-width:1500px;
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:
    radial-gradient(circle at top left,
    rgba(110,66,193,.3),
    transparent 30%),
    radial-gradient(circle at bottom right,
    rgba(110,66,193,.3),
    transparent 25%);
    flex-direction: column;
}
/* .card img{
   height: 7rem;
} */

.otp-container{
    display:flex;
    justify-content:center;
    gap:12px;
    margin:20px 0;
}

.otp-input{
    width:50px;
    height:50px;
    border:1px solid #8E8E93;
    border-radius:10px;
    text-align:center;
    font-size:1rem;
    font-weight:600;
    outline:none;
    transition:0.3s;
}

.otp-input:focus{
    border-color:#5A26AB;
    box-shadow:0 0 0 3px rgba(90,38,171,0.15);
}
.verify-box{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    color: #4E2A8A;
}
.verify-btn{
    margin-top:0.3rem;
    padding: 0rem 4rem;
    border:none;
    border-radius:10px;
    background:#5d2ea8;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}
.wrap-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}
.wrap-image img{
    height: 7rem;
}
.card-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8D81A1;
}